@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
 
    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
 
    --card: 0 0% 12%;
    --card-foreground: 58 42% 88%;
 
    --popover: 0 0% 12%;
    --popover-foreground: 58 42% 88%;
 
    --primary: 58 77% 59%;
    --primary-foreground: 0 0% 0%;
 
    --secondary: 0 0% 17%;
    --secondary-foreground: 58 42% 88%;
 
    --muted: 0 0% 17%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 0 0% 17%;
    --accent-foreground: 24 9.8% 10%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;
 
    --border: 0 0% 12%;
    --input: 0 0% 12%;
    --ring: 20 14.3% 4.1%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground dark;
  }
}


body {
  width: 100vw;
  min-height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
}
/* body:before {
  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  top: 0;
} */
body:after {
  content: '';
  background-image: url('/grid.svg');
  z-index: -1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.2;
  filter: invert(1);
}
@media (prefers-color-scheme: dark) {
  body:after {
    filter: unset;
 }
}

/* .content {
  height: fit-content;
  position: relative;
  z-index: 3;
}
.content:after {
  background-image: radial-gradient(at 27% 37%, rgba(58, 139, 253, 1) 0px, transparent 50%), radial-gradient(at 97% 21%, rgba(151, 114, 254, 1) 0px, transparent 50%), radial-gradient(at 52% 99%, rgba(253, 58, 78, 1) 0px, transparent 50%), radial-gradient(at 10% 29%, rgba(90, 252, 125, 1) 0px, transparent 50%), radial-gradient(at 97% 96%, rgba(228, 199, 149, 1) 0px, transparent 50%), radial-gradient(at 33% 50%, rgba(140, 168, 232, 1) 0px, transparent 50%), radial-gradient(at 79% 53%, rgba(238, 165, 186, 1) 0px, transparent 50%);
  background: linear-gradient(to right, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            radial-gradient(at 27% 37%, rgba(58, 139, 253, 1) 0px, transparent 50%),
            radial-gradient(at 97% 21%, rgba(151, 114, 254, 1) 0px, transparent 50%),
            radial-gradient(at 52% 99%, rgba(253, 58, 78, 1) 0px, transparent 50%),
            radial-gradient(at 10% 29%, rgba(90, 252, 125, 1) 0px, transparent 50%),
            radial-gradient(at 97% 96%, rgba(228, 199, 149, 1) 0px, transparent 50%),
            radial-gradient(at 33% 50%, rgba(140, 168, 232, 1) 0px, transparent 50%),
            radial-gradient(at 79% 53%, rgba(238, 165, 186, 1) 0px, transparent 50%);

  position: absolute;
  content: '';
  z-index: 2;
  width: 100%;
  height: 100%;
  filter: blur(100px) saturate(150%);
  z-index: -1;
  top: -50px;
  opacity: 0.2;
  transform: translateZ(0);
}
@media (prefers-color-scheme: dark) {
  .content:after {
    opacity: 0.1;
 }
} */


.grid-cols-13{
  grid-template-columns: repeat(13, minmax(0, 1fr));
}
